<%= form_with model: @task, class: 'task-form' do |f| %>

  <h3><%= form_title %></h3>

  <%= f.label :TO_DO %>
  <%= f.text_field :action %>

  <%= f.label :DESCRIPTION %>
  <%= f.text_field :description %>

  <%= f.label :BY %>
  <%= f.text_field :assignee %>

  <%= f.submit action_type, class: "task-form-submit-button" %>

<% end %>
