<div>
  <h1>TO-DO LIST</h1>
  <ul>
    <% count = 1 %>
    <% @tasks.each do |task| %>
      <% if task.completed == true %>
      <li class='completed'>
      <div class='completed-task'>
        <p>
          <strong><strike><%= count %>. <%= task.action %></strike></strong>
        </p>
        <p>
          <strong>DESCRIPTION: </strong><%= task.description %>
        </p>
        <p>
          <strong>BY: </strong><%= task.assignee %>
        </p>
        </div>
        <div class="completed-edit-task-links">
          <%= link_to "[Mark as Complete]", task_toggle_complete_path(task.id), method: :update %>
          <%= link_to "[View Details]", task_path(task.id) %>
          <%= link_to "[Edit]", edit_task_path(task.id) %>
          <%= link_to "[Delete]", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete the task #{task.action}?" } %>
        </div>
        </li>
        <% else %>
        <li>
        <div>
        <p>
          <strong><%= count %>. <%= task.action %></strong>
        </p>
        <p>
          <strong>DESCRIPTION: </strong><%= task.description %>
        </p>
        <p>
          <strong>BY: </strong><%= task.assignee %>
        </p>
      </div>
      <div class="edit-task-links">
        <%= link_to "[Mark as Complete]", task_toggle_complete_path(task.id), method: :update %>
        <%= link_to "[View Details]", task_path(task.id) %>
        <%= link_to "[Edit]", edit_task_path(task.id) %>
        <%= link_to "[Delete]", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete the task #{task.action}?" } %>
      </div>
    </li>
      <% end %>
      <% count += 1 %>
    <% end %>
    <div class='new-task'>
      <%= link_to "[Add Task]", new_task_path %>
    </div>
  </ul>
</div>
