<h1><%= @task.action %></h1>

<ul>
  <li>
    <div>
      <p>
        <strong><%= @task.action %></strong>
      </p>
      <p>
        <strong>DESCRIPTION: </strong><%= @task.description %>
      </p>
      <p>
        <strong>BY: </strong><%= @task.assignee %>
      </p>
    </div>
  </li>
  <%= link_to "[Return to List]", tasks_path %>
</ul>
